:root {
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.hero {
  text-align: center;
  padding: 150px 20px;
  background: var(--secondary-color);
}

.hero p {
  font-size: 36px;
}

.btn-main {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: white;
  line-height: 27px;
  background-color: var(--primary-color);
  padding: 18px 46px;
}
